/* Start Global Rules */

*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #1a1a1a;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* End Global Rules */

/* Start Main Styling */

div.container{
    margin: 200px auto;
    width: 300px; max-height: 350px;
    background-color: rgb(255, 187, 0);
    border-radius: 80px 80px 1000px 1000px;

    position: relative;
    padding: 25px;
    text-align: center;
}

img{
    width: 150px;
    box-sizing: content-box;
    border-radius: 100%;
    margin: -140px auto 0;
    border: solid 20px #1a1a1a;
    display: block; 
}

h2{
    color: #fff;
    margin: 10px 0 2px;
    font-size: 2.2em;
    font-weight: bolder;
    text-shadow: 2px 2px 5px #666;
}

span{
    color: lightblue;
    margin-bottom: 5px;
    display: inline-block;
    font-weight: bold;
    text-shadow: 1px 1px 2px #000;
}

p{
    color: #222;
    font-weight: 500;
}

button{
    width: 50px;
    height: 50px;
    font-size: 1.3em;
    line-height: 50px;
    border-radius: 50%;
    border: none;
    outline: none;
    cursor: pointer;
}
.container > button{
    background-color: #111;
    color: #33ff00;
    margin-top: 20px;
    box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.89);
    animation: pop-up .9s infinite;
}
@keyframes pop-up {
    0%{
        box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.89);
    }
    90%{
        box-shadow: 0 0 0 0px rgba(255, 255, 255, 0.89);
    }
    100%{
        box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.89);
    }
}
/* Start Contacts Styling */
div.contacts{
    position: absolute;
    top: calc(100% - 370px);
    left: -74px;
    padding-top: 200px;
    width:454px;
    height: 454px;
    border-radius: 50%;
    transition: 0.5s;
    transform: scale(0) rotate(-45deg);
    z-index: -1;
    border: dotted 2px;
    border-color: #1a1a1a #1a1a1a teal teal;
    border-style: solid solid dotted dotted;

    background: linear-gradient(to bottom left, #0000 45%, rgba(4, 4, 148, 0.534));
}
.contact .contacts{
    transform: scale(1) rotate(-45deg);
}
.contacts button{
    position: absolute;
    left: 10px;
    background-color: #fff;
    color: #333;
    transform-origin: 215px;
    font-size: 1.6em;
}
.contacts button:nth-child(1){
    transform: rotate(225deg);
}
.contacts button:nth-child(1)  :first-child{
    transform: rotate(-270deg);
    transform-origin: center;
}
.contacts button:nth-child(2){
    transform: rotate(261deg);
}
.contacts button:nth-child(2)  :first-child{
    transform: rotate(252deg);
    transform-origin: center;
}
.contacts button:nth-child(3){
    transform: rotate(297deg);
}
.contacts button:nth-child(3)  :first-child{
    transform: rotate(calc(350deg - 297deg));
    transform-origin: center;
}
.contacts button:nth-child(4){
    transform: rotate(333deg);
}
.contacts button:nth-child(4)  :first-child{
    transform: rotate(215deg);
    transform-origin: center;
}
.contacts button:nth-child(5){
    transform: rotate(369deg);
}
.contacts button:nth-child(5)  :first-child{
    transform: rotate(200deg);
    transform-origin: center;
}
.contacts button:nth-child(6){
    transform: rotate(45deg);
}
/* End Contacts Styling */

/* End Main Styling */